name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      # Вимикаємо Ryuk у CI
      TESTCONTAINERS_RYUK_DISABLED: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Debug Docker
        run: |
          docker --version
          docker info
          docker ps

      - name: Make Gradle Wrapper executable
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew clean test --no-daemon
