name: CI
on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Run tests with SUDO
        env:
          # Примусово кажемо використовувати Unix-сокет
          DOCKER_HOST: unix:///var/run/docker.sock
          TESTCONTAINERS_RYUK_DISABLED: "true"
          _JAVA_OPTIONS: "-XX:MaxRAMPercentage=70.0"
        # Запускаємо через sudo. Це дає Java повний доступ до Docker-демона.
        run: sudo ./gradlew clean test --no-daemon --info