name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Make Gradle Wrapper executable
        run: chmod +x gradlew

      - name: Run tests
        env:
          # ЦЕ КРИТИЧНО: Явно вказуємо шлях до сокета
          DOCKER_HOST: unix:///var/run/docker.sock
          # Вимикаємо Ryuk, бо він часто не має прав на запуск у CI
          TESTCONTAINERS_RYUK_DISABLED: "true"
          # Твій щоденний параметр
          _JAVA_OPTIONS: "-XX:MaxRAMPercentage=70.0"
        run: ./gradlew clean test --no-daemon