name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      # Контроль пам'яті JVM в CI
      _JAVA_OPTIONS: "-XX:MaxRAMPercentage=70.0"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # Перевіряємо що Docker доступний (важливо для Testcontainers)
      - name: Verify Docker
        run: docker info

      # Збірка + тести (Testcontainers працюватиме автоматично)
      - name: Build and Test with Gradle
        run: ./gradlew clean build --info

      # Логін у Docker Hub (тільки якщо тести пройшли)
      - name: Log in to Docker Hub
        if: success()
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Білд і пуш Docker образу
      - name: Build and push Docker image
        if: success()
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: starscreemm/my-spring-app:latest

      # Якщо тест впав — можна завантажити репорт
      - name: Upload Test Report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/test
